doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='manifest', href='/manifest.json')
      script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js' async)
      script.
        var OneSignal = OneSignal || [];
      script(src='/javascripts/layout.js')
  body
    block content