.idea/
node_modules/
dist/
build/ts-to-es6
build/bundles
build/size-analysis.html
/config.json
.vscode/

.DS_STORE
*.pem
yarn-error.log
dist/Dev-OneSignalSDK.js
dist/Dev-OneSignalSDK.js.map
.vscode/

coverage
.nyc_output
