.idea/
node_modules/
dist/
build/stats/*.html
build/releases
ngrok_last_url
ngrok.log

.DS_STORE
*.pem
*.key
*.crt
.vscode/**
!.vscode/launch.json
!.vscode/settings.json
!.vscode/keybindings.json
!.vscode/extensions.json
.cursor/

coverage

!.env.example
.env
