# Travis CI Configuration File
#
# Setting up w/ NodeJS: https://docs.travis-ci.com/user/languages/javascript-with-nodejs/

language: node_js
node_js:
  - '10.16.0'
cache:
  yarn: true
  directories:
    - node_modules
script:
  - 'yarn run test:noWatch'
  - 'yarn clean && yarn build:prod && ./.travis/s3-simple-upload-all.sh build/releases s3://onesignal-build/websdk'
git:
  depth: 5
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
