$slidedown-transition-duration: 400ms;
$border-radius: 0.5em;

#onesignal-slidedown-container, #onesignal-popover-container {
  font-size: 16px;
  position: fixed;
  z-index: 2258594000;
  left: 0;
  right: 0;
  -webkit-font-smoothing: initial;

  &.slide-down {
    top: 0;

    &.close-slidedown {
      #onesignal-slidedown-dialog, #onesignal-popover-dialog {
        -webkit-animation-name: slideDownExit;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-duration: $slidedown-transition-duration;
        -webkit-animation-fill-mode: forwards;
        animation-name: slideDownExit;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: $slidedown-transition-duration;
        animation-fill-mode: forwards;
      }
    }

    #onesignal-slidedown-dialog, #onesignal-popover-dialog {
      width: 500px;

      -webkit-animation-name: slideDownEnter;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -webkit-animation-duration: $slidedown-transition-duration;
      -webkit-animation-fill-mode: forwards;
      animation-name: slideDownEnter;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: $slidedown-transition-duration;
      animation-fill-mode: forwards;

      &.blocked-dialog {
        #blocked-slidedown {
          display: block;
        }
        #normal-slidedown, #normal-popover {
          display: none;
        }
        .slidedown-body-message, .popover-body-message {
          padding: 0 0.2em 0 0.2em;
          text-align: center;
          width: 100%;
          img {
            width: 100%;
          }

          .unblock-image {
            margin: 2em 0 0.5em 0;
          }
        }
        padding: 1.714em;
        width: 612px;
        margin-bottom: 18px;

        .slidedown-button.secondary, .popover-button.secondary {
          padding: 0.714em 2em;
        }
      }
    }
  }

  #blocked-slidedown, #blocked-popover {
    display: none;
  }

  &.slide-up {
    bottom: 0;

    &.close-slidedown, &.close-popover {
      #onesignal-slidedown-dialog, #onesignal-popover-dialog {
        -webkit-animation-name: slideUpExit;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-duration: $slidedown-transition-duration;
        -webkit-animation-fill-mode: forwards;
        animation-name: slideUpExit;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: $slidedown-transition-duration;
        animation-fill-mode: forwards;
      }
    }

    #onesignal-slidedown-dialog, #onesignal-popover-dialog {
      width: 100%;

      -webkit-animation-name: slideUpEnter;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -webkit-animation-duration: $slidedown-transition-duration;
      -webkit-animation-fill-mode: backwards;
      animation-name: slideUpEnter;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: $slidedown-transition-duration;
      animation-fill-mode: backwards;
    }
  }

  .tagging-container {
    display: flex;
    margin: 2em 0;
  }

  .tagging-container-col {
    flex: 1;
    padding-left: 1em;
  }

  .onesignal-category-label {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1.5em;
    color: #051B2C;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 1.5em;
    width: 80%;
    line-height: 1.5em;
    float:left;

    .onesignal-category-label-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      /* When the checkbox is checked, add a blue background */
      &:checked ~ .onesignal-checkmark {
        transition: ease 75ms;
        background-color: #0078D1;
      }

      &:checked ~ .onesignal-checkmark:after {
        display: block;
      }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .onesignal-checkmark {
      background-color: #dde1e4;
    }

    .onesignal-category-label-text {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    .onesignal-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.5em;
      width: 1.5em;
      border-radius: .25em;
      cursor: pointer;
      background-color: #ebedef;

      /* Create the checkmark/indicator (hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 0.5em;
        top: 0.25em;
        width: 0.33em;
        height: 0.66em;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .onesignal-loading-container {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;

    & .onesignal-loading-message {
      flex: 1;
      color: #CED3D8;
      margin-top: .8125em;
    }
  }

  .onesignal-button-indicator-holder {
    display: flex;
    margin-left: 0.5em;
  }

  #onesignal-slidedown-dialog, #onesignal-popover-dialog {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(5,27,44,.06), 0 2px 32px rgba(5,27,44,.16) !important;
    background: white !important;
    padding: 1.5em 1.5em;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Seoe UI Symbol";

    .slidedown-body, .popover-body {
      box-sizing: border-box;
      margin: 0;
    }

    .slidedown-body-icon, .popover-body-icon {
      box-sizing: border-box;
      float: left;
      width: 80px;
      height: 80px;
      position: relative;

      img {
        width: 100%;
        height: 100%;

        &.default-icon {
          width: 45px;
          top: 3px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          height: 45px;
        }
      }
    }

    .slidedown-body-message, .popover-body-message {
      box-sizing: border-box;
      padding: 0 0 0 1em;
      float: left;
      width: calc(100% - 80px);
      line-height: 1.45em;
      -o-user-select: none;
      user-select: none;
      cursor: default;
      color: #051B2C !important;
    }

    button {
      box-sizing: border-box;
      display: inline-block;
      padding: .375rem 1rem;
      font-size: 0.9625em;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: .25rem;
      font-family: inherit;
      letter-spacing: 0.05em;
      -webkit-transition: background-color 75ms ease;
      transition: background-color 75ms ease;
      margin: 0;
    }

    .slidedown-button, .popover-button {
      padding: 0.75em 1.5em;
      font-size: 1em;
      border-radius: .25em;
      font-weight: 400;
      box-shadow: unset;
      display: flex;

      &.primary {
        background: #0078D1;
        color: white !important;
        transition: linear 75ms;

        &:hover {
          background: darken(#0078D1, 7.5%);
        }

        &:active {
          background: darken(#0078D1, 15%);
        }

        &.disabled {
          background-color: #CED3D8;
          cursor: default;
        }

        &.onesignal-saving-state-button {
          padding: 0.75em 1em;
          background: #CED3D8;
          transition: linear 75ms;
        }

        &.onesignal-error-state-button {
          padding: 0.75em 1em;
          background: #E54A4D;
          transition: linear 75ms;
          align-items: center;

          span {
            cursor: pointer;
          }
        }
      }

      &.onesignal-button-indicator-holder {
        display: flex;
        margin-left: 0.5em;
        cursor: pointer;
      }

      &.secondary {
        box-shadow: none;
        background: white !important;
        /*
          We sparingly use an !important tag here because it's important for the user to be able to click "No Thanks".
          Some sites set their own !important tag for text and we don't want that to be able to override ours.
         */
        color: #0078D1 !important;

        &:hover {
          color: darken(#0078D1, 12.5%);
        }

        &:active {
          color: darken(#0078D1, 30.5%);
        }
      }
    }

    .primary.slidedown-button+.secondary.slidedown-button, .primary.popover-button+.secondary.popover-button {
      margin-right: 0.714em;
    }

    .slidedown-footer, .popover-footer {
      position: relative;
    }

    .align-right {
      float: right;
    }

    .clearfix {
      display: block;
      backface-visibility: initial !important; // Causes buttons to be unclickable if set to hidden
    }
    .clearfix:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .onesignal-tag-failure-message {
      display: flex;
      float:left;
      color:red;
    }
  }
}

@-webkit-keyframes slideDownEnter {
  0% {
    -webkit-transform: translateY(-150%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideDownEnter {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideDownExit {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-150%);
  }
}
@keyframes slideDownExit {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}

@-webkit-keyframes slideUpEnter {
  0% {
    -webkit-transform: translateY(150%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideUpEnter {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUpExit {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(150%);
  }
}
@keyframes slideUpExit {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}
