.iti--container {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  @media (min-width: 320px) and (max-width: 767px) {
    z-index: 2258594001 !important;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    z-index: 2258594001 !important;
  }

  & .iti__country.iti__highlight {
    background-color: #e5f2fc;
  }
}

#onesignal-slidedown-container,
#onesignal-popover-container {
  font-size: 16px;
  position: fixed;
  z-index: 2258594000;
  left: 0;
  right: 0;
  -webkit-font-smoothing: initial;

  & .onesignal-toast-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  & #slidedown-body {
    & .channel-capture-container {
      background-color: white;
      position: relative;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: -10px;

      @media (min-width: 320px) and (max-width: 767px) {
        margin-top: 10px;
        display: block;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        align-items: flex-start;
      }

      & label {
        display: inline-block;
        margin-bottom: 4px;
      }

      & .onesignal-error-input {
        & label {
          color: #646d74;
        }

        & input {
          background: #fcecec;
          border: 1px solid #e54b4d;

          &:focus {
            background: #fcecec;
            border: 1px solid #e54b4d;
          }
        }
      }

      & input {
        border: 1px solid #ced3d8;
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 4px;
        height: 36px;
        width: 356px;
        font-size: 16px;
        padding-left: 8px;

        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
        }

        &:focus {
          background: #e5f2fc;
          border: 1px solid #1f8feb;
        }
      }
    }

    & .input-with-validation-element {
      background-color: white;
      position: relative;
      white-space: nowrap;
      box-sizing: border-box;
      margin-bottom: 24px;

      & p {
        margin-top: 6px;
        margin-bottom: 6px;
      }

      & label {
        color: #051b2c;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        margin-left: 16px;
      }

      & .iti {
        @media (min-width: 320px) and (max-width: 767px) {
          display: block;
        }
      }

      & .iti__dial-code {
        color: grey;
      }

      & .iti__selected-flag {
        background-color: transparent;
        border-radius: 4px;

        &:focus {
          outline: #0078d1;
        }
      }

      & .iti__country-list {
        width: 356px;
        box-shadow: 0px 1px 4px rgba(5, 27, 44, 0.2);
        border-radius: 4px;
        background: #ffffff;
        border: none;
        line-height: 28px;
      }

      & .iti__country-name {
        white-space: pre-wrap;
      }

      & .iti__country.iti__highlight {
        background-color: #e5f2fc;
      }

      & .onesignal-validation-element {
        color: #e54b4d;
        display: flex;

        & img {
          padding-right: 8px;
        }
      }
    }
  }

  &.slide-down {
    top: 0;

    &.close-slidedown {
      & #onesignal-slidedown-dialog,
      & #onesignal-popover-dialog {
        animation: slideDownExit 400ms ease-out forwards;
      }
    }

    & #onesignal-slidedown-dialog,
    & #onesignal-popover-dialog {
      width: 500px;
      animation: slideDownEnter 400ms ease-out forwards;

      &.blocked-dialog {
        & #blocked-slidedown {
          display: block;
        }
        & #normal-slidedown,
        & #normal-popover {
          display: none;
        }
        & .slidedown-body-message,
        & .popover-body-message {
          padding: 0 0.2em 0 0.2em;
          text-align: center;
          width: 100%;

          & img {
            width: 100%;
          }

          & .unblock-image {
            margin: 2em 0 0.5em 0;
          }
        }
        padding: 1.714em;
        width: 612px;
        margin-bottom: 18px;

        & .slidedown-button.secondary,
        & .popover-button.secondary {
          padding: 0.714em 2em;
        }
      }
    }
  }

  & #blocked-slidedown,
  & #blocked-popover {
    display: none;
  }

  &.slide-up {
    bottom: 0;

    &.close-slidedown,
    &.close-popover {
      & #onesignal-slidedown-dialog,
      & #onesignal-popover-dialog {
        animation: slideUpExit 400ms ease-out forwards;
      }
    }

    & #onesignal-slidedown-dialog,
    & #onesignal-popover-dialog {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      width: 100%;
      animation: slideUpEnter 400ms ease-out backwards;
    }
  }

  & .tagging-container {
    display: flex;
    margin: 2em 0;
  }

  & .tagging-container-col {
    flex: 1;
    padding-left: 1em;
  }

  & .onesignal-category-label {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1.5em;
    color: #051b2c;
    font-size: 1em;
    user-select: none;
    height: 1.5em;
    width: 80%;
    line-height: 1.5em;
    float: left;

    & .onesignal-category-label-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .onesignal-checkmark {
        transition: ease 75ms;
        background-color: #0078d1;
      }

      &:checked ~ .onesignal-checkmark::after {
        display: block;
        box-sizing: content-box;
      }
    }

    &:hover input ~ .onesignal-checkmark {
      background-color: #dde1e4;
    }

    & .onesignal-category-label-text {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    & .onesignal-checkmark {
      box-sizing: content-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 1.5em;
      width: 1.5em;
      border-radius: 0.25em;
      cursor: pointer;
      background-color: #ebedef;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0.5em;
        top: 0.25em;
        width: 0.33em;
        height: 0.66em;
        border: solid white;
        box-sizing: content-box;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  & .onesignal-loading-container {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;

    & .onesignal-loading-message {
      flex: 1;
      color: #ced3d8;
      margin-top: 0.8125em;
    }
  }

  & .onesignal-button-indicator-holder {
    display: flex;
    margin-left: 0.5em;
  }

  & #onesignal-slidedown-dialog,
  & #onesignal-popover-dialog {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    box-shadow:
      0 1px 6px rgba(5, 27, 44, 0.06),
      0 2px 32px rgba(5, 27, 44, 0.16) !important;
    background: white !important;
    color: #051b2c;
    padding: 1.5em 1.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Seoe UI Symbol';

    & .slidedown-body,
    & .popover-body {
      box-sizing: border-box;
      margin: 0;
    }

    & .slidedown-body-icon,
    & .popover-body-icon {
      box-sizing: border-box;
      float: left;
      width: 80px;
      height: 80px;
      position: relative;

      & img {
        width: 100%;
        height: 100%;

        &.default-icon {
          width: 45px;
          top: 3px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          height: 45px;
        }
      }
    }

    & .slidedown-body-message,
    & .popover-body-message {
      box-sizing: border-box;
      padding: 0 0 0 1em;
      font-weight: 400;
      float: left;
      width: calc(100% - 80px);
      line-height: 1.45em;
      user-select: none;
      cursor: default;
      color: #051b2c !important;
    }

    & button {
      box-sizing: border-box;
      display: inline-block;
      padding: 0.375rem 1rem;
      font-size: 0.9625em;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      font-family: inherit;
      letter-spacing: 0.05em;
      transition: background-color 75ms ease;
      margin: 0;
    }

    & .slidedown-button,
    & .popover-button {
      padding: 0.75em 1.5em;
      font-size: 1em;
      border-radius: 0.25em;
      font-weight: 400;
      box-shadow: unset;
      display: flex;

      &.primary {
        background: #0078d1;
        color: white !important;
        transition: linear 75ms;

        &:hover {
          background: #0062ab;
        }

        &:active {
          background: #004c85;
        }

        &.disabled {
          background-color: #ced3d8;
          cursor: default;
        }

        &.onesignal-saving-state-button {
          padding: 0.75em 1em;
          background: #ced3d8;
          transition: linear 75ms;
        }

        &.onesignal-error-state-button {
          padding: 0.75em 1em;
          background: #0078d1;
          transition: linear 75ms;
          align-items: center;

          & span {
            cursor: pointer;
          }
        }
      }

      &.onesignal-button-indicator-holder {
        display: flex;
        margin-left: 0.5em;
        cursor: pointer;
      }

      &.secondary {
        box-shadow: none;
        background: white !important;
        color: #0078d1 !important;

        &:hover {
          color: #005391;
        }

        &:active {
          color: #001f35;
        }
      }
    }

    & .primary.slidedown-button + .secondary.slidedown-button,
    & .primary.popover-button + .secondary.popover-button {
      margin-right: 0.714em;
    }

    & .slidedown-footer,
    & .popover-footer {
      position: relative;
    }

    & .align-right {
      float: right;
    }

    & .clearfix {
      display: block;
      backface-visibility: initial !important;
    }
    & .clearfix::after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    & .onesignal-tag-failure-message {
      display: flex;
      float: left;
      color: red;
    }
  }
}

@keyframes slideDownEnter {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDownExit {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}

@keyframes slideUpEnter {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpExit {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

.onesignal-validation-element-hidden {
  display: none !important;
}
