@import 'helpers';

$red: #e54b4d;
$orange: #e7924c;

$sm-size: 30px;
$md-size: 48px;
$lg-size: 64px;
$dock-offset: 20px;
$redwhite-background: white;
$redwhite-background-active: darken(white, 5%);
$redwhite-primary: $red;
$whitered-background: $red;
$whitered-background-active: darken($red, 10%);
$whitered-primary: white;
$whitered-secondary: $red;
$whitered-tertiary: $orange;
$bell-border-width: 3px;
$bell-foreground: white;
$bell-shadow: drop-shadow(0 2px 4px rgba(34,36,38,0.35));
$badge-shadow: drop-shadow(0 2px 4px rgba(34,36,38,0));
$transition-duration: 175ms;
$hover-size-increase: 1.15;
$offset-x: 15px;
$offset-y: 15px;
$arrow-size: 12px;


#onesignal-bell-container {
    z-index: 2147483000;
    position: fixed;

    &.onesignal-bell-container-bottom-left {
        bottom: 0;
        left: 0;
    }

    &.onesignal-bell-container-bottom-right {
        bottom: 0;
        right: 0;
    }

    .onesignal-bell-launcher {
        @include unselectable();
        position: absolute;
        z-index: 2147483000;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        transform: scale(0.01) translateZ(0);
        opacity: 0;
        transition: transform $transition-duration ease-in-out,
        opacity $transition-duration ease-in-out;

        &.onesignal-bell-launcher-bottom-left {
            bottom: $dock-offset;
            left: $dock-offset;
        }

        &.onesignal-bell-launcher-bottom-right {
            bottom: $dock-offset;
            right: $dock-offset;
        }

        .onesignal-bell-launcher-button {
            position: absolute;
            bottom: 0;
            border-radius: 50%;
            transition: transform $transition-duration ease-in-out,
            border $transition-duration ease-in-out;

            svg {
                width: 100%;
                height: 100%;

                -webkit-filter: $bell-shadow;
                filter: $bell-shadow;
            }

            &.onesignal-bell-launcher-button-hover {
                cursor: pointer;
            }
        }

        .onesignal-bell-launcher-badge {
            position: absolute;
            bottom: 0;
            border-radius: 50%;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            width: 18px;
            height: 18px;
            top: 0;
            left: 4px;
            cursor: pointer;
            -webkit-filter: $badge-shadow;
            filter: $badge-shadow;
            transition: transform $transition-duration ease-in-out,
            border $transition-duration ease-in-out,
            opacity $transition-duration * 1.2 ease-in-out;
            z-index: 1047;
            opacity: 0;
            transform: scale(0.01);

            &.onesignal-bell-launcher-badge-hover {
                cursor: pointer;
            }

            &.onesignal-bell-launcher-badge-opened {
                opacity: 1;
                transform: scale(1);
            }
        }

        .onesignal-bell-launcher-message {
            position: absolute;
            color: white;
            background: black;
            cursor: pointer;
            max-width: 0px;
            border-radius: 5px;
            padding: 15px;
            transform: translateY(-50%);
            transform-origin: 0 0;
            opacity: 0;
            transition: max-width $transition-duration * 1.2 ease-in-out,
            opacity $transition-duration * 1.2 ease-in-out;
            top: 50%;

            &:after, &:before {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(0, 0, 0, 0);
                border-right-color: #000000;
                border-width: 12px;
                margin-top: -12px;
            }

            &:before {
                border-color: rgba(46, 45, 45, 0);
                border-right-color: #2e2d2d;
                border-width: 13px;
                margin-top: -13px;
            }

            .onesignal-bell-launcher-message-body {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.onesignal-bell-launcher-message-opened {
                opacity: 1;
                max-width: 220px;
            }
        }

        &.onesignal-bell-launcher-sm {
            width: 330px;
            height: $sm-size;
            transform-origin: $sm-size / 2 $sm-size / 2;

            .onesignal-bell-launcher-button {
                width: $sm-size;
                height: $sm-size;
            }

            .onesignal-bell-launcher-message {
                left: ($sm-size + $arrow-size) + 3px;
            }
        }

        &.onesignal-bell-launcher-md {
            width: 330px;
            height: $md-size;
            transform-origin: $md-size / 2 $md-size / 2;

            .onesignal-bell-launcher-button {
                width: $md-size;
                height: $md-size;
            }

            .onesignal-bell-launcher-message {
                left: ($md-size + $arrow-size) + 3px;
            }
        }

        &.onesignal-bell-launcher-lg {
            width: 330px;
            height: $lg-size;
            transform-origin: $lg-size / 2 $lg-size / 2;

            .onesignal-bell-launcher-button {
                width: $lg-size;
                height: $lg-size;
            }

            .onesignal-bell-launcher-message {
                left: ($lg-size + $arrow-size) + 3px;
            }
        }

        &.onesignal-bell-launcher-theme-whiteonred {
            .onesignal-bell-launcher-button {
                svg {
                    .background {
                        fill: $whitered-background;
                    }

                    .foreground {
                        fill: $whitered-primary;
                    }

                    .stroke {
                        fill: none;
                        stroke: $whitered-primary;
                        stroke-width: $bell-border-width;
                        stroke-miterlimit: 10;
                    }
                }

                &.onesignal-bell-launcher-button-active, &.onesignal-bell-launcher-badge-active {
                    svg {
                        .background {
                            fill: $whitered-background-active !important;
                        }
                    }
                }
            }

            .onesignal-bell-launcher-badge {
                border: 1px solid white;
                background: lighten(black, 0%);
            }
        }

        &.onesignal-bell-launcher-theme-redonwhite {
            .onesignal-bell-launcher-button {
                svg {
                    .background {
                        fill: $redwhite-background
                    }

                    .foreground {
                        fill: $redwhite-primary;
                    }

                    .stroke {
                        fill: none;
                        stroke: $redwhite-primary;
                        stroke-width: $bell-border-width;
                        stroke-miterlimit: 10;
                    }
                }

                &.onesignal-bell-launcher-button-active, &.onesignal-bell-launcher-badge-active {
                    svg {
                        .background {
                            fill: $redwhite-background-active !important;
                        }
                    }
                }
            }
        }
    }

    .onesignal-bell-launcher-enabled, .onesignal-bell-launcher-active {
        transform: scale(1);
        opacity: 1;
    }

    .onesignal-bell-launcher-inactive {
        visibility: hidden;
    }
}

@media print {
    #onesignal-bell-container {
        display: none;
    }
}

.pulse-ring {
    border: 7px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: pulse 0.5s ease-out;
    -webkit-animation-iteration-count: 1;
    opacity: 0;
    z-index: 1000;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        opacity: 0.0;
        border-width: 5px;
    }
    50% {
        opacity: 1.0;
        border-width: 5px;
    }
    100% {
        -webkit-transform: scale(1.2);
        opacity: 0.0;
        border-width: 1px;
    }
}