@import 'helpers';

$red: #e54b4d;
$container-size: 30px;
$bell-background: $red;
$bell-border-width: 25px;
$bell-foreground: white;
$bell-shadow: drop-shadow(0 2px 4px rgba(34, 36, 38, 0.35));
$transition-duration: 175ms;
$hover-size-increase: 1.25;
$offset-x: 15px;
$offset-y: 15px;

$popover-padding: 10px;
$popover-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$popover-font-size: 14px;
$popover-font-weight: 400;
$popover-background: black;
$popover-forecolor: white;

.onesignal-popover-element {
    box-sizing: border-box;
    position: absolute;
    display: none;

    &.onesignal-popover-theme {
        max-width: 100%;
        max-height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: opacity 100ms;
        transition: opacity 100ms;
        opacity: 0;


        .onesignal-popover-content {
            -webkit-transition: -webkit-transform $transition-duration cubic-bezier(0, 0, 0.265, 1.4);
            transition: transform $transition-duration cubic-bezier(0, 0, 0.265, 1.4);
            border-radius: 5px;
            position: relative;
            font-family: $popover-font;
            background: $popover-background;
            color: $popover-forecolor;
            padding: $popover-padding;
            font-size: $popover-font-size;
            font-weight: $popover-font-weight;
            line-height: 1.5em;
            -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
            -webkit-filter: drop-shadow(0 2px 4px rgba(34, 36, 38, 0.35));
            filter: drop-shadow(0 2px 4px rgba(34, 36, 38, 0.35));
            @include unselectable();
            @include default-cursor();

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-width: 12px;
                border-style: solid;
            }
        }
        &.onesignal-popover-element-attached-bottom {
            &.onesignal-popover-element-attached-left {
                &.onesignal-popover-target-attached-top .onesignal-popover-content {
                    margin-bottom: 12px;
                    -webkit-transform-origin: 0 calc(100% + 12px);
                    -ms-transform-origin: 0 calc(100% + 12px);
                    transform-origin: 0 calc(100% + 12px);
                    &:before {
                        top: 100%;
                        left: 12px;
                        border-top-color: $popover-background;
                    }
                }
                &.onesignal-popover-target-attached-right .onesignal-popover-content {
                    margin-left: 12px;
                    -webkit-transform-origin: -12px 100%;
                    -ms-transform-origin: -12px 100%;
                    transform-origin: -12px 100%;
                    &:before {
                        bottom: 12px;
                        right: 100%;
                        border-right-color: $popover-background;
                    }
                }
            }
            &.onesignal-popover-element-attached-right {
                &.onesignal-popover-target-attached-top .onesignal-popover-content {
                    margin-bottom: 12px;
                    -webkit-transform-origin: 100% calc(100% + 12px);
                    -ms-transform-origin: 100% calc(100% + 12px);
                    transform-origin: 100% calc(100% + 12px);
                    &:before {
                        top: 100%;
                        right: 12px;
                        border-top-color: $popover-background;
                    }
                }
                &.onesignal-popover-target-attached-left .onesignal-popover-content {
                    margin-right: 12px;
                    -webkit-transform-origin: calc(100% + 12px) 100%;
                    -ms-transform-origin: calc(100% + 12px) 100%;
                    transform-origin: calc(100% + 12px) 100%;
                    &:before {
                        bottom: 12px;
                        left: 100%;
                        border-left-color: $popover-background;
                    }
                }
            }
            &.onesignal-popover-element-attached-center .onesignal-popover-content {
                margin-bottom: 12px;
                -webkit-transform-origin: 50% calc(100% + 12px);
                -ms-transform-origin: 50% calc(100% + 12px);
                transform-origin: 50% calc(100% + 12px);
                &:before {
                    top: 100%;
                    left: 50%;
                    margin-left: -12px;
                    border-top-color: $popover-background;
                }
            }
        }
        &.onesignal-popover-element-attached-top {
            &.onesignal-popover-element-attached-left {
                &.onesignal-popover-target-attached-bottom .onesignal-popover-content {
                    margin-top: 12px;
                    -webkit-transform-origin: 0 -12px;
                    -ms-transform-origin: 0 -12px;
                    transform-origin: 0 -12px;
                    &:before {
                        bottom: 100%;
                        left: 12px;
                        border-bottom-color: $popover-background;
                    }
                }
                &.onesignal-popover-target-attached-right .onesignal-popover-content {
                    margin-left: 12px;
                    -webkit-transform-origin: -12px 0;
                    -ms-transform-origin: -12px 0;
                    transform-origin: -12px 0;
                    &:before {
                        top: 12px;
                        right: 100%;
                        border-right-color: $popover-background;
                    }
                }
            }
            &.onesignal-popover-element-attached-right {
                &.onesignal-popover-target-attached-bottom .onesignal-popover-content {
                    margin-top: 12px;
                    -webkit-transform-origin: 100% -12px;
                    -ms-transform-origin: 100% -12px;
                    transform-origin: 100% -12px;
                    &:before {
                        bottom: 100%;
                        right: 12px;
                        border-bottom-color: $popover-background;
                    }
                }
                &.onesignal-popover-target-attached-left .onesignal-popover-content {
                    margin-right: 12px;
                    -webkit-transform-origin: calc(100% + 12px) 0;
                    -ms-transform-origin: calc(100% + 12px) 0;
                    transform-origin: calc(100% + 12px) 0;
                    &:before {
                        top: 12px;
                        left: 100%;
                        border-left-color: $popover-background;
                    }
                }
            }
            &.onesignal-popover-element-attached-center .onesignal-popover-content {
                margin-top: 12px;
                -webkit-transform-origin: 50% -12px;
                -ms-transform-origin: 50% -12px;
                transform-origin: 50% -12px;
                &:before {
                    bottom: 100%;
                    left: 50%;
                    margin-left: -12px;
                    border-bottom-color: $popover-background;
                }
            }
        }
        &.onesignal-popover-open {
            display: none;
        }
        &.onesignal-popover-open-transitionend {
            display: block;
        }
        &.onesignal-popover-after-open {
            -webkit-transition: none;
            transition: none;
            opacity: 1;
            .onesignal-popover-content {
                -webkit-transform: scale(1) translateZ(0);
                transform: scale(1) translateZ(0);
            }
        }
        &.onesignal-popover-element-attached-right.onesignal-popover-element-attached-middle .onesignal-popover-content {
            margin-right: 12px;
            -webkit-transform-origin: calc(100% + 12px) 50%;
            -ms-transform-origin: calc(100% + 12px) 50%;
            transform-origin: calc(100% + 12px) 50%;
            &:before {
                left: 100%;
                top: 50%;
                margin-top: -12px;
                border-left-color: $popover-background;
            }
        }
        &.onesignal-popover-element-attached-left.onesignal-popover-element-attached-middle .onesignal-popover-content {
            margin-left: 12px;
            -webkit-transform-origin: -12px 50%;
            -ms-transform-origin: -12px 50%;
            transform-origin: -12px 50%;
            &:before {
                right: 100%;
                top: 50%;
                margin-top: -12px;
                border-right-color: $popover-background;
            }
        }
    }
    &:after {
        box-sizing: border-box;
    }
    &:before {
        box-sizing: border-box;
    }
    * {
        box-sizing: border-box;
        &:after {
            box-sizing: border-box;
        }
        &:before {
            box-sizing: border-box;
        }
    }
    &.onesignal-popover-open {
        display: block;
    }
}