@import 'bell-popover';

$red: #e54b4d;
$container-size: 30px;
$bell-background: $red;
$bell-border-width: 25px;
$bell-foreground: white;
$bell-shadow: drop-shadow(0 2px 4px rgba(34,36,38,0.35));
$transition-duration: 175ms;
$hover-size-increase: 1.5;
$offset-x: 15px;
$offset-y: 15px;

body {
    &.onesignal-popover-open {
        #onesignal-bell {
            transform: scale(1.2);
        }
    }
}

#onesignal-bell {
    position: fixed;
    left: $offset-x;
    bottom: $offset-y;
    z-index: 2147483647;

    width: $container-size;
    height: $container-size;
    margin: 0;

    & > svg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        .st0 {
            display: none;
        }

        .st1 {
            fill: $bell-background !important;
        }

        .st2 {
            fill: $bell-foreground !important;
        }

        .st3 {
            fill: none;
            stroke: $bell-foreground;
            stroke-width: $bell-border-width;
            stroke-miterlimit: 10;
        }

        -webkit-filter: $bell-shadow !important;
        filter: $bell-shadow !important;
    }

    transition: transform $transition-duration ease-in-out,
    border $transition-duration ease-in-out;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    &:active {
        svg {
            .st1.st1 {
                fill: darken($bell-background, 15%) !important;
            }
        }
    }
}